* {
    text-align: center;
}

.judul {
    color: rgb(147, 208, 216);
    font-size: 20px;
    text-align: center;
}

h1 {
    font-family: "Grey Qo", cursive;
    font-size: 80px;
    text-align: center;
    font-weight: 300;
}

p {
    color: blueviolet;
}